export ARM_SUBSCRIPTION_ID="ef2f2ca5-1657-47ae-b4c2-b078566444a7"
export ARM_CLIENT_ID="01c4547b-1d81-484d-b582-7b75db46dc7b"
export ARM_CLIENT_SECRET="uEOpY~WYN.Llv34uN7e.8nk.fHMxbX-Zqv"
export ARM_TENANT_ID="d99c8c6d-85b1-409f-bead-dfa92d8b0aea"
